
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background: rgb(15, 1, 39); 
    height: 150px;
  }
  
  .logo img {
    height: 150px;
  }
  
  .nav-links {
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    color: rgb(170, 174, 202);
    text-decoration: none;
    font-size: 16px;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  
  