


      <header class="navbar">
        <div class="logo">
          <img src="assets/images/logoo.png" alt="Logo" />
        </div>
        <nav class="nav-links">
         <a [routerLink]="'/home'" style="text-decoration: none; font-weight: bold;">Home</a>
         <a [routerLink]="'/login'" style="text-decoration: none; font-weight: bold;">Login</a>
         <a [routerLink]="'/register'" style="text-decoration: none; font-weight: bold;">Register</a>
         <a [routerLink]="'/patient_infor'" style="text-decoration: none; font-weight: bold;">Patient Information</a>
        </nav>
      </header>
    

    <router-outlet></router-outlet>

 