<!-- <p>home works!</p> -->


  
<body>
   <div class="landing-page">
    <div class="cont">
      <h1>The Priority Doctor</h1>
      <h2>Online Student Clinic</h2>
      <p>
        Caring for your health, every step of the way
      </p>
      <button class="cta-button" routerLink="/register">Get Started</button>

      <p>
        Already have an account? 
        <a routerLink="/login" class="login-link">Log In</a>
      </p>

    </div>
     
      
    </div>

    <router-outlet></router-outlet>
</body>
 




  
