<!-- <p>patient_infor works!</p> -->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<!-- added this block of code -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color:rgb(224, 192, 192);">Patient Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
       <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
             <a class="nav-link" (click)="onOpenModal(null, 'add')">Add Patient <span class="sr-only">(current)</span></a>
          </li>
       </ul>
       <form class="form-inline my-2 my-lg-0">
          <input type="search" (ngModelChange)="searchPatient(key.value)" #key="ngModel" ngModel
           name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search patients..." required>
       </form>
    </div>
</nav>
<!-- end of code block -->
<div class="container" id="main-container">
    <div class="row">
        <div *ngFor="let patient of patients "class="col-md-6 col-xl-3">
            <div class="card m-b-30">
                <div class="card-body row">
                    <!-- since i have no images whatsoever -->
                    <!-- <div class="col-6">
                        <a href=""><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" class="img-fluid rounded-circle w-60"></a>
                    </div> -->
                    <div class="col-6 card-title align-self-center mb-0">
                        <h5>{{patient?.name}}</h5>
                        <p class="m-0">{{patient?.gender}}</p>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa fa-envelope float-right"></i>{{patient?.email}} </li>
                    <li class="list-group-item"><i class="fa fa-phone float-right"></i>{{patient?.phone}}</li>
                </ul>
                <div class="card-body">
                    <div class="float-right btn-group btn-group-sm">
                        <a (click)="onOpenModal(patient, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                        <a (click)="onOpenModal(patient, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- add patient modal -->
<div class="modal fade" id="addPatientModal" tabindex="-1" role="dialog" aria-labelledby="addPatientModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="addPatientModalLabel">Add Patient</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form #addForm="ngForm" (ngSubmit)="onAddPatient(addForm)">
            <div class="form-group">
               <label for="name">Name</label>
               <input type="text" ngModel name="name" class="form-control" id="name" placeholder="Name" required>
            </div>
            <div class="form-group">
               <label for="email">Email Address</label>
               <input type="email" ngModel name="email" class="form-control" id="email" placeholder="Email" required>
            </div>
            <div class="form-group">
               <label for="gender">Gender</label>
               <input type="text" ngModel name="gender" class="form-control" id="gender" placeholder="Gender" required>
            </div>
            <div class="form-group">
               <label for="phone">Phone</label>
               <input type="text" ngModel name="phone" class="form-control" id="phone" placeholder="Phone" required>
            </div>
            <div class="form-group">
               <label for="address">Image URL</label>
               <input type="text" ngModel name="address" class="form-control" id="address" placeholder="Address" required>
            </div>
            <div class="modal-footer">
               <button type="button" id="add-patient-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
            </div>
            </form>
         </div>
      </div>
    </div>
</div>
  
  <!-- Edit Modal -->
  <div class="modal fade" id="updatePatientModal" tabindex="-1" role="dialog" aria-labelledby="patientEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="updatePatientModalLabel">Edit Patient {{editPatient?.name}}</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <form #editForm="ngForm">
                <div class="form-group">
                   <label for="name">Name</label>
                   <input type="text" ngModel="{{editPatient?.name}}" name="name" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Name">
                </div>
                <input type="hidden" ngModel="{{editPatient?.id}}" name="id" class="form-control" id="id" placeholder="Email">
                <input type="hidden" ngModel="{{editPatient?.patientCode}}" name="userCode" class="form-control" id="userCode" placeholder="Email">
                <div class="form-group">
                   <label for="email">Email Address</label>
                   <input type="email" ngModel="{{editPatient?.email}}" name="email" class="form-control" id="email" placeholder="Email">
                </div>
                <div class="form-group">
                   <label for="phone">Job title</label>
                   <input type="text" ngModel="{{editPatient?.address}}" name="address" class="form-control" id="address" placeholder="Address">
                </div>
                <div class="form-group">
                   <label for="phone">Phone</label>
                   <input type="text" ngModel="{{editPatient?.phone}}" name="phone" class="form-control" id="phone" name="phone" placeholder="Phone">
                </div>
                <div class="form-group">
                   <label for="phone">Image URL</label>
                   <input type="text" ngModel="{{editPatient?.gender}}" name="gender" class="form-control" id="gender" placeholder="Gender">
                </div>
                <div class="modal-footer">
                   <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                   <button (click)="onUpdatePatients(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
                </div>
             </form>
          </div>
       </div>
    </div>
  </div>
